html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
a {
	display: block;
	color: black;
	cursor: pointer;
}
button {
	cursor: pointer;
}
ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
	font-family: "Roboto-Medium", sans-serif;
	color: $text;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
