@import "vars";
@import "global";
@import "fonts";

.header {
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 25px 0px 15px;
	}

	&__contacts {
		margin-left: auto;
		margin-right: 25px;
		font-size: 15px;
		span {
			color: $red;
		}
		a {
			display: inline-block;
			color: $text;
			text-decoration: none;
		}
	}

	&__lk {
		font-size: 12px;
		border-radius: 4px;
		max-width: 72px;
		width: 100%;
		text-align: center;
		a {
			color: #fff;
			text-decoration: none;
			padding: 12px 10px;
		}
	}

	&__login {
		margin-left: 15px;
		background: $green;
	}

	&__register {
		background: $red;
		margin-left: 7px;
	}

	&__menu {
		background: $bg;
		padding: 25px 0;
	}
}

.menu {
	&__list {
		display: flex;
		a {
			color: #ffffff;
			text-decoration: none;
			font-size: 14px;
		}
		li {
			& + li {
				margin-left: 30px;
			}
		}
	}
}

.search {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 533px;
	color: white;
	text-align: center;

	&__title {
		font-weight: 700;
		padding-top: 155px;
		font-size: 48px;
		line-height: 72px;
	}

	&__subtitle {
		font-weight: 500;
		padding-top: 35px;
		font-size: 20px;
		line-height: 30px;
	}

	&__form {
		padding-top: 55px;
		form {
			position: relative;
			display: inline-block;
		}
		input {
			height: 57px;
			box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
			border: 1px solid transparent;
			border-radius: 4px;
			min-width: 670px;
			outline-style: none;
			padding-left: 15px;
		}
		::placeholder {
			font-size: 14px;
			padding-left: 25px;
		}
		button {
			position: absolute;
			height: 57px;
			width: 65px;
			right: 0;
			top: 0;
			background: #fff;
			border: none;
			outline-style: none;
		}
	}
}
