@import "vars";
@import "global";
@import "fonts";

//start header
.header {
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0;
	}

	&__contacts {
		margin-left: auto;
		margin-right: 25px;
		font-size: 15px;
		span {
			color: $red;
		}
		a {
			display: inline-block;
			color: $text;
			text-decoration: none;
		}
	}

	&__lk {
		font-size: 12px;
		border-radius: 4px;
		max-width: 72px;
		width: 100%;
		text-align: center;
		a {
			color: #fff;
			text-decoration: none;
			padding: 12px 10px;
		}
	}

	&__login {
		margin-left: 15px;
		background: $green;
		display: none;
	}

	&__register {
		background: $red;
		margin-left: 7px;
		display: none;
	}
	&__logout {
		background: $red;
	}

	&__menu {
		background: $bg;
		padding: 25px 0;
	}

	&__circlet {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		line-height: 24px;
		color: #a0a0a0;
		position: relative;
		width: 34px;
		height: 34px;
		border-radius: 50%;
		background-color: #f5f5f5;
		span {
			position: absolute;
			width: 18px;
			height: 18px;
			line-height: 17px;
			color: #fff;
			font-size: 11px;
			border-radius: 50%;
			top: -9px;
			right: -5px;
			text-align: center;
			font-family: "OpenSans-Semibold";
		}
	}
	.notification {
		span {
			background-color: #fcb322;
		}
	}
	.mail {
		margin-left: 15px;
		span {
			background-color: #ef6c00;
		}
	}

	.basket {
		margin-left: 15px;
		span {
			background-color: $green;
		}
	}

	&__user-inner {
		margin-left: 15px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			height: 30px;
			min-width: 158px;
			bottom: -30px;
			left: -1px;
		}
		&:hover {
			.header__user-list {
				height: auto;
				padding: 25px 20px 29px;
				border-width: 1px;
			}
		}
	}
	&__user-list {
		padding: 0 20px;
		position: absolute;
		height: 0;
		overflow: hidden;
		background-color: #fff;
		max-width: 158px;
		width: 100%;
		top: 64px;
		right: 16px;
		border: 0px solid rgb(204, 204, 204);
		transition: all 0.5s;
		a {
			font-family: "Roboto-Regular", sans-serif;
			font-weight: 400;
			color: $text;
			font-size: 12px;
		}
		li {
			padding-left: 15px;
			position: relative;
			& + li {
				margin-top: 20px;
			}
			&::before {
				content: "\f105";
				font-family: "icomoon";
				position: absolute;
				left: 0;
				top: -3px;
				color: $green;
				font-size: 14px;
			}
		}
	}
	&__user {
		display: flex;
		&-img {
			margin-right: 12px;
			border-radius: 50%;
			height: 34px;
			width: 34px;
		}
		&-box {
			padding-right: 24px;
			margin-right: 30px;
			font-size: 14px;
			position: relative;
			.header__box-name {
				font-weight: 500;
				color: #222222;
				margin-bottom: 2px;
				&::after {
					content: "\f107";
					font-family: "icomoon";
					position: absolute;
					font-size: 16px;
					color: #707070;
					right: 0;
				}
			}
			.header__box-money {
				color: $green;
				font-weight: 700;
			}
		}
	}
}

.header__basket-box,
.header__mail-box,
.header__notification-box {
	position: relative;
	&::after {
		content: "";
		position: absolute;
		height: 30px;
		min-width: 55px;
		bottom: -30px;
		right: -8px;
	}
	&:hover {
		.basket__drop,
		.mail__drop,
		.notification__drop {
			height: auto;
			border: 1px solid rgb(204, 204, 204);
			padding: 20px 0;
		}
		.header__circlet::before {
			color: $bg;
		}
	}
}

.basket,
.mail,
.notification {
	&__drop {
		position: absolute;
		min-width: 268px;
		background-color: #fff;
		border: 0px solid rgb(204, 204, 204);
		height: 0;
		overflow: hidden;
		right: -8px;
		top: 64px;
		transition: all 0.5s;
	}

	&__drop-item {
		display: flex;
		padding: 0 24px 22px;
		position: relative;
		border-bottom: 1px solid rgb(204, 204, 204);
		&:nth-child(2) {
			padding-top: 20px;
		}
		&:nth-child(3) {
			padding-top: 20px;
			border-bottom: none;
			padding-bottom: 0;
		}
		img {
			margin-right: 16px;
		}
	}

	&__content-title {
		margin-bottom: 5px;
		font-size: 15px;
		color: $bg;
		font-weight: 500;
	}

	&__content-product {
		margin-bottom: 5px;
		color: $green;
		font-size: 12px;
	}

	&__content-price {
		font-weight: 500;
		color: #000000;
		font-size: 16px;
	}

	&__drop-total {
		padding: 20px 0 0;
	}

	&__total-price {
		display: flex;
		justify-content: space-between;
		padding: 0px 30px;
		color: $bg;
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 20px;
	}

	&__btn {
		display: flex;
		justify-content: space-between;
		padding: 0px 17px;
		button {
			font-weight: 700;
			font-size: 14px;
			color: #fff;
			height: 35px;
			&:focus {
				outline-style: none;
			}
		}
	}

	&__btn-cart {
		background-color: $green;
		width: 105px;
	}

	&__btn-checkout {
		background-color: $red;
		width: 123px;
	}
}

.mail__drop > .basket__drop-item > .basket__content {
	.basket__content-title,
	.basket__content-product {
		margin-bottom: 0;
	}
}
.mail__drop > .basket__drop-item {
	position: relative;
	&::after {
		content: "\f003";
		font-family: "icomoon";
		position: absolute;
		right: 28px;
		font-size: 16px;
		color: #b0bec5;
	}
	&:hover::after {
		color: #ef6c00;
	}
	&:nth-child(3)::after {
		content: "\f112";
		font-family: "icomoon";
		position: absolute;
		right: 28px;
		font-size: 16px;
		color: #b0bec5;
	}
	&:nth-child(3):hover::after {
		color: #ef6c00;
	}
}

.notification__drop > .basket__drop-item {
	position: relative;
	&::after {
		content: "\f0a2";
		font-family: "icomoon";
		position: absolute;
		right: 28px;
		font-size: 16px;
		color: #b0bec5;
	}
	&:hover::after {
		color: #ef6c00;
	}
}
.notification__drop > .basket__drop-item > .basket__content {
	font-weight: 400;
	.basket__content-title {
		padding: 2px 0px;
		color: $green;
		font-size: 12px;
	}
	.basket__content-product {
		padding: 2px 0px;
		color: #707070;
		font-size: 10px;
	}
}

.menu {
	&__list {
		display: flex;
		a {
			color: #ffffff;
			text-decoration: none;
			font-size: 14px;
		}
		li {
			& + li {
				margin-left: 30px;
			}
		}
	}
}
//end header
//start search

.search {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 533px;
	color: white;
	text-align: center;

	&__title {
		font-weight: 700;
		padding-top: 155px;
		font-size: 48px;
		line-height: 72px;
	}

	&__subtitle {
		font-weight: 500;
		padding-top: 35px;
		font-size: 20px;
		line-height: 30px;
	}

	&__form {
		padding-top: 55px;
		form {
			position: relative;
			display: inline-block;
		}
		input {
			height: 57px;
			box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
			border: 1px solid transparent;
			border-radius: 4px;
			min-width: 670px;
			outline-style: none;
			padding-left: 15px;
		}
		::placeholder {
			font-size: 14px;
			padding-left: 25px;
		}
		button {
			position: absolute;
			height: 57px;
			width: 65px;
			right: 0;
			top: 0;
			background: #fff;
			border: none;
			outline-style: none;
			border-radius: 4px;
		}
	}
}

//end search
//start products

.products {
	&__title {
		text-align: center;
	}

	&__btn {
		text-align: center;
		color: $bg;
		font-size: 14px;
		line-height: 60px;
		margin-bottom: 70px;
		button {
			font-family: "Roboto", sans-serif;
			padding: 12px 26px;
			outline-style: none;
			&.mixitup-control-active {
				background-color: $red;
				color: #fff;
			}
			& + button {
				margin-left: 50px;
			}
		}
	}
	&__btn-bottom {
		text-align: center;
		margin-top: 45px;
		button {
			font-weight: 400;
			font-size: 16px;
			padding: 20px 35px;
			box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
			color: $bg;
			outline-style: none;
			&.mixitup-control-active {
				background-color: $red;
				color: #fff;
			}
		}
	}
}

.product {
	&__items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		max-width: 442px;
		width: 100%;
		margin-bottom: 30px;
		box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
		border: 1px solid #e7ecf2;
	}
	&__images {
		width: 100%;
	}

	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 90px;
		font-weight: 500;
		border-bottom: 1px solid #e7ecf2;
		padding: 0px 32px;
	}

	&__name {
		margin-bottom: 15px;
		font-size: 18px;
		color: $bg;
		font-family: "Roboto", sans-serif;
	}

	&__subname {
		color: $green;
	}

	&__price {
		font-weight: 700;
		font-size: 20px;
		color: $bg;
	}

	&__info {
		padding: 0px 32px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 70px;
		font-size: 12px;
		font-weight: 500;
	}

	&__img-autor {
		border-radius: 50%;
		margin-right: 12px;
	}

	&__name-autor {
		margin-right: auto;
		color: $text;
		max-width: 245px;
	}

	&__star {
		display: flex;
		align-items: center;
		span {
			color: $bg;
			font-weight: 500;
		}
		.star {
			margin-right: 13px;
		}
	}
}

//end products

//start products-slider

.products-slider {
	&__title {
		text-align: center;
		margin-top: 120px;
	}

	&__items {
		text-align: center;
	}

	.slick-track {
		display: flex;
		justify-content: space-between;
	}
	.slick-list {
		overflow: hidden;
	}

	.slick-dots {
		text-align: center;
		padding: 45px 0px 120px;
		.slick-active button {
			background: $green;
		}
		li {
			display: inline-block;
			font-size: 0;
			margin-left: 3px;
			margin-right: 3px;
			button {
				width: 16px;
				height: 16px;
				border-radius: 50%;
				background-color: rgb(232, 232, 232);
				outline: none;
				box-shadow: 0px -1px 1px black;
			}
		}
	}
}

//end products-slider

//start advantage

.advantage {
	background: $bg;
	&__inner {
		padding-bottom: 115px;
	}

	&__title {
		color: #fff;
		text-align: center;
		margin-bottom: 50px;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		margin: 0 -30px;
	}

	&__item {
		text-align: center;
		&:hover {
			.advantage__imges {
				background: $green;
			}
			.advantage__item-title {
				color: $green;
			}
			.advantage__imges {
				g {
					fill: #fff;
					transition: all 0.5s;
				}
			}
		}
	}

	&__imges {
		margin: 0 auto;
		border-radius: 50%;
		width: 114px;
		height: 114px;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.5s;
	}

	&__item-title {
		color: #fff;
		font-weight: 500;
		font-size: 24px;
		line-height: 60px;
		transition: all 0.5s;
	}

	&__text {
		font-family: "Roboto-Regular", sans-serif;
		font-weight: 400;
		font-size: 15px;
		line-height: 24px;
		color: $text;
		max-width: 305px;
	}
}

//end advantage

//start author

.author {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 751px;
	display: flex;
	justify-content: center;
	align-items: center;
	&__inner {
		display: flex;
		justify-content: space-around;
		background: $green;
		min-height: 220px;
		max-width: 650px;
		width: 100%;
		padding-top: 70px;
	}

	&__title {
		color: #fff;
		font-family: "Roboto-Regular", sans-serif;
		font-weight: 400;
		max-width: 262px;
		font-size: 30px;
		line-height: 36px;
		span {
			font-family: "Roboto-Bold", sans-serif;
			font-weight: 700;
		}
	}

	&__link {
		font-family: "Roboto-Regular", sans-serif;
		font-weight: 400;
		a {
			font-size: 18px;
			line-height: 36px;
			color: $bg;
			padding: 23px 44px;
			background: #fff;
		}
	}
}

//end author

//start tutorials

.tutorials {
	padding-bottom: 160px;
	&__title {
		text-align: center;
		padding-bottom: 65px;
	}

	&__items {
		display: flex;
		justify-content: space-between;
	}

	.tutorials__item {
		&-images {
			padding-bottom: 40px;
		}

		&-title {
			text-align: center;
			font-family: "Roboto-Bold", sans-serif;
			font-weight: 700;
			font-size: 24px;
			color: black;
		}
	}
}

//end tutorials

//start footer

.footer {
	font-family: "Roboto-Regular", sans-serif;
	font-weight: 400;
	background-color: $bg;

	&__top {
		padding: 110px 0px 100px;
		border-bottom: 1px solid #424d53;
	}

	&__top-inner {
		display: flex;
		justify-content: space-between;
	}

	&__column {
		max-width: 270px;
		font-size: 15px;

		&-title {
			font-family: "Raleway-Bold";
			color: #fff;
			font-size: 22px;
			line-height: 24px;
			padding-bottom: 25px;
			margin-bottom: 25px;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 51px;
				height: 3px;
				background-color: $green;
			}
		}

		&-text {
			color: #b7c3c8;
			line-height: 24px;
			padding-bottom: 25px;
		}

		&-adress {
			color: #fff;
			font-size: 14px;
			line-height: 24px;
			padding-left: 30px;
			margin-bottom: 25px;
			position: relative;
			&::before {
				content: "\f041";
				font-family: "icomoon";
				position: absolute;
				left: 0;
				font-size: 18px;
				color: $green;
			}
		}

		&-phone {
			color: #fff;
			font-size: 14px;
			line-height: 24px;
			padding-left: 30px;
			position: relative;
			&::before {
				content: "\f095";
				font-family: "icomoon";
				position: absolute;
				left: 0;
				font-size: 18px;
				color: $green;
			}
		}

		&-list {
			li {
				padding-left: 20px;
				position: relative;
			}
			a {
				color: #b7c3c8;
				line-height: 36px;
				&::before {
					content: "\f105";
					font-family: "icomoon";
					position: absolute;
					left: 0;
					color: $green;
					font-size: 18px;
				}
			}
		}

		&-social {
			display: flex;
			margin-bottom: 40px;
			a {
				& + a {
					margin-left: 8px;
				}
			}
		}

		&-subtext {
			color: #fff;
			font-size: 20px;
			line-height: 36px;
			margin-bottom: 20px;
		}

		&-form {
			display: flex;
		}

		&-input {
			max-width: 216px;
			width: 100%;
			min-height: 38px;
			background-color: #2f3c43;
			border: none;
			padding-left: 16px;
			color: #fff;
			&:focus {
				outline: none;
			}
			&::placeholder {
				font-size: 14px;
				color: #697378;
			}
		}

		&-button {
			max-width: 38px;
			width: 100%;
			height: 38px;
			cursor: pointer;
			&:focus {
				outline: none;
			}
		}
		.icon-location-arrow {
			background-color: $green;
			color: #fff;
			font-size: 20px;
		}
	}

	&__bottom {
		&-inner {
			padding: 25px 0;
			text-align: center;
		}

		&-text {
			color: #919699;
			font-size: 15px;
			line-height: 36px;
		}
	}
}

.facebook {
	background: url("../img/sprite/css_sprites.png") no-repeat;
	background-position: 0 0;
	width: 28px;
	height: 28px;
}
.twitter {
	background: url("../img/sprite/css_sprites.png") no-repeat;
	background-position: -28px -28px;
	width: 28px;
	height: 28px;
}
.youtube {
	background: url("../img/sprite/css_sprites.png") no-repeat;
	background-position: -56px 0;
	width: 28px;
	height: 28px;
}
.pinter {
	background: url("../img/sprite/css_sprites.png") no-repeat;
	background-position: 0 -28px;
	width: 28px;
	height: 28px;
}
.in {
	background: url("../img/sprite/css_sprites.png") no-repeat;
	background-position: -28px 0;
	width: 28px;
	height: 28px;
}

//end footer
